.list-group-item {
	background: #3F597F;
	padding: 25px;
	border: 1px solid #fff;
	color: #fff;
	margin-bottom: 25px;
	align-items: center;
}
.list-group-item:nth-child(2n) {
	background: #fff;
	color: #000;
}

.list-group-item .btn {
	margin: 0;
}

.list-group-item-label {
	width: 150px;
	height: 150px;
	display: block;
	margin-right: 25px;
	text-align: center;
}

.list-group-item-label img {
	width: 100%;
	border: 2px solid #fff;
	border-radius: 25px;
}

.list-group-item-icon i {
	color: #fff;
	transition: color .3s ease;
}

.list-group-item-icon .btn:hover .fa-edit {
	color: yellow;
}
.list-group-item-icon .btn:hover .fa-trash {
	color: red;
}
.list-group-item-icon .btn:hover .fa-thumbs-up {
	color: black;
}

